# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1
jobs:

  build:
    working_directory: /tmp/src/NiMARE
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps9-{{ .Branch }}-{{ .Revision }}
      - run:
          command:  |
            conda create -n testenv python=3.6 numpy scipy scikit-learn traits -yq
            source activate testenv
            pip install pytest pytest-cov codecov coverage coveralls flake8
            pip install -r requirements.txt
            python setup.py install --user
      - save_cache:
          key: deps9-{{ .Branch }}-{{ .Revision }}
          paths:
            - "/opt/conda/envs/testenv"
            - "/tmp/src/NiMARE"

  tests:
    working_directory: /tmp/src/NiMARE
    docker:
      - image: continuumio/miniconda3
    steps:
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps9-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Tests
          command:  |
            source activate testenv
            pytest /tmp/src/NiMARE --ignore=nimare/tests/test_ibma_fsl.py

  lint:
    working_directory: /tmp/src/NiMARE
    docker:
      - image: continuumio/miniconda3
    steps:
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps9-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Linting
          command:  |
            source activate testenv
            flake8 --ignore=E501,E722,E114,E116,W503,W504 /tmp/src/NiMARE/nimare
      - store_artifacts:
          path: /tmp/data/lint

  coverage:
    working_directory: /tmp/src/NiMARE
    docker:
      - image: continuumio/miniconda3
    steps:
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps9-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Coverage
          command:  |
            source activate testenv
            py.test --cov-report html:/tmp/data/coverage --cov=nimare --ignore=nimare/tests/test_ibma_fsl.py nimare
      - store_artifacts:
          path: /tmp/data/coverage

workflows:
  version: 2.1
  run_tests:
    jobs:
      - build
      - tests:
          requires:
            - build
      - lint:
          requires:
            - build
      - coverage:
          requires:
            - build
