interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://neurostore.org/api/studysets/qm2PZBqNsaZK?nested=true
  response:
    body:
      string: "{\"id\":\"qm2PZBqNsaZK\",\"name\":\"April Demo Studyset\",\"user\":\"github|12564882\",\"description\":\"\",\"publication\":null,\"doi\":null,\"pmid\":null,\"created_at\":\"2026-04-23T15:40:31.313212+00:00\",\"updated_at\":null,\"studies\":[{\"id\":\"3oV62pVqdWih\",\"created_at\":\"2022-06-02T17:47:21.544935+00:00\",\"updated_at\":\"2026-03-02T19:31:11.919166+00:00\",\"user\":null,\"name\":\"APOE
        moderates compensatory recruitment of neuronal resources during working memory
        processing in healthy older adults\",\"description\":\"The APOE \u03B54 allele
        increases the risk for sporadic Alzheimer's disease and modifies brain activation
        patterns of numerous cognitive domains. We assessed cognitively inta[...]
