interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://neurostore.org/api/base-studies/?search=working%20memory&page=1&page_size=5&info=true
  response:
    body:
      string: "{\"metadata\":{\"total_count\":2890},\"results\":[{\"id\":\"85we7GikiSZV\"\
        ,\"user\":null,\"username\":null,\"created_at\":\"2023-06-23T03:08:47.052372+00:00\"\
        ,\"updated_at\":\"2025-12-03T22:43:57.366760+00:00\",\"metadata\":{\"slug\"\
        :\"24184440-10-1016-j-neuropsychologia-2013-10-017\",\"source\":\"semantic_scholar\"\
        ,\"keywords\":[\"Chinese\",\"Second language\",\"Training\",\"Vocabulary learning\"\
        ,\"Working memory\"],\"raw_metadata\":{\"pubmed\":{\"PubmedData\":{\"History\"\
        :{\"PubMedPubDate\":[{\"Day\":\"13\",\"Year\":\"2013\",\"Month\":\"2\",\"\
        @PubStatus\":\"received\"},{\"Day\":\"12\",\"Year\":\"2013\",\"Month\":\"\
        9\",\"@PubStatus\":\"revised\"},{\"Day\":\"24\",\"Year\":\"2013\",\"Month\"\
        :\"10\",\"@PubStatus\":\"accepted\"},{\"Day\":\"5\",\"Hour\":\"6\",\"Year\"\
        :\"2013\",\"Month\":\"11\",\"Minute\":\"0\",\"@PubStatus\":\"entrez\"},{\"\
        Day\":\"5\",\"Hour\":\"6\",\"Year\":\"2013\",\"Month\":\"11\",\"Minute\":\"\
        0\",\"@PubStatus\":\"pubmed\"},{\"Day\":\"25\",\"Hour\":\"6\",\"Year\":\"\
        2014\",\"Month\":\"9\",\"Minute\":\"0\",\"@PubStatus\":\"medline\"}]},\"ArticleIdList\"\
        :{\"ArticleId\":[{\"#text\":\"24184440\",\"@IdType\":\"pubmed\"},{\"#text\"\
        :\"10.1016/j.neuropsychologia.2013.10.017\",\"@IdType\":\"doi\"},{\"#text\"\
        :\"S0028-3932(13)00367-9\",\"@IdType\":\"pii\"}]},\"PublicationStatus\":\"\
        ppublish\"},\"MedlineCitation\":{\"PMID\":{\"#text\":\"24184440\",\"@Version\"\
        :\"1\"},\"@Owner\":\"NLM\",\"@Status\":\"MEDLINE\",\"Article\":{\"Journal\"\
        :{\"ISSN\":{\"#text\":\"1873-3514\",\"@IssnType\":\"Electronic\"},\"Title\"\
        :\"Neuropsychologia\",\"JournalIssue\":{\"Volume\":\"53\",\"PubDate\":{\"\
        Year\":\"2014\",\"Month\":\"Jan\"},\"@CitedMedium\":\"Internet\"},\"ISOAbbreviation\"\
        :\"Neuropsychologia\"},\"Abstract\":{\"AbstractText\":\"Previous research\
        \ has shown a systematic relationship between phonological working memory\
        \ capacity and second language proficiency for alphabetic languages. However,\
        \ little is known about the impact of working memory processes on second language\
        \ learning in a non-alphabetic language such as Mandarin Chinese. Due to the\
        \ greater complexity of the Chinese writing system we expect that visual working\
        \ memory rather than phonological [...]
