/*Alterations to the theme defaults*/

/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
  background: #a589df;
}

/*Width of panel */
.wy-nav-content {
  max-width: None;
}

/* Sphinx gallery example titles */
/* Taken from scikit-learn */
#examples {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.sphx-glr-thumbcontainer span.caption-text {
  font-style: normal;
  font-size: 0.9rem;
  text-align: center;
}

#examples h1 {
  border-radius: 0.3rem;
  background-color: #b8a6db;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#examples h2 {
  border-radius: 0.3rem;
  background-color: #d589d8;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.rst-content img {
  max-width: 800px;
}

/* Enforce nice versionmodified titles */
:root {

  /*****************************************************************************
  * Color
  *
  * Colors are defined in rgb string way, "red, green, blue"
  **/
  --pst-color-primary: 19, 6, 84;
  --pst-color-success: 40, 167, 69;
  --pst-color-info: 0, 123, 255; /*23, 162, 184;*/
  --pst-color-warning: 255, 193, 7;
  --pst-color-danger: 220, 53, 69;
  --pst-color-text-base: 51, 51, 51;

  --pst-color-h1: var(--pst-color-primary);
  --pst-color-h2: var(--pst-color-primary);
  --pst-color-h3: var(--pst-color-text-base);
  --pst-color-h4: var(--pst-color-text-base);
  --pst-color-h5: var(--pst-color-text-base);
  --pst-color-h6: var(--pst-color-text-base);
  --pst-color-paragraph: var(--pst-color-text-base);
  --pst-color-link: 0, 91, 129;
  --pst-color-link-hover: 227, 46, 0;
  --pst-color-headerlink: 198, 15, 15;
  --pst-color-headerlink-hover: 255, 255, 255;
  --pst-color-preformatted-text: 34, 34, 34;
  --pst-color-preformatted-background: 250, 250, 250;
  --pst-color-inline-code: 232, 62, 140;

  --pst-color-active-navigation: 19, 6, 84;
  --pst-color-navbar-link: 77, 77, 77;
  --pst-color-navbar-link-hover: var(--pst-color-active-navigation);
  --pst-color-navbar-link-active: var(--pst-color-active-navigation);
  --pst-color-sidebar-link: 77, 77, 77;
  --pst-color-sidebar-link-hover: var(--pst-color-active-navigation);
  --pst-color-sidebar-link-active: var(--pst-color-active-navigation);
  --pst-color-sidebar-expander-background-hover: 244, 244, 244;
  --pst-color-sidebar-caption: 77, 77, 77;
  --pst-color-toc-link: 119, 117, 122;
  --pst-color-toc-link-hover: var(--pst-color-active-navigation);
  --pst-color-toc-link-active: var(--pst-color-active-navigation);

  /*****************************************************************************
  * Icon
  **/

  /* font awesome icons*/
  --pst-icon-check-circle: "\f058";
  --pst-icon-info-circle: "\f05a";
  --pst-icon-exclamation-triangle: "\f071";
  --pst-icon-exclamation-circle: "\f06a";
  --pst-icon-times-circle: "\f057";
  --pst-icon-lightbulb: "\f0eb";

  /*****************************************************************************
  * Admonitions
  **/

  --pst-color-admonition-default: var(--pst-color-info);
  --pst-color-admonition-note: var(--pst-color-info);
  --pst-color-admonition-attention: var(--pst-color-warning);
  --pst-color-admonition-caution: var(--pst-color-warning);
  --pst-color-admonition-warning: var(--pst-color-warning);
  --pst-color-admonition-danger: var(--pst-color-danger);
  --pst-color-admonition-error: var(--pst-color-danger);
  --pst-color-admonition-hint: var(--pst-color-success);
  --pst-color-admonition-tip: var(--pst-color-success);
  --pst-color-admonition-important: var(--pst-color-success);

  --pst-icon-admonition-default: var(--pst-icon-info-circle);
  --pst-icon-admonition-note: var(--pst-icon-info-circle);
  --pst-icon-admonition-attention: var(--pst-icon-exclamation-circle);
  --pst-icon-admonition-caution: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-warning: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-danger: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-error: var(--pst-icon-times-circle);
  --pst-icon-admonition-hint: var(--pst-icon-lightbulb);
  --pst-icon-admonition-tip: var(--pst-icon-lightbulb);
  --pst-icon-admonition-important: var(--pst-icon-exclamation-circle);

  /** versionmodified **/
  --pst-color-versionmodified-default: var(--pst-color-info);
  --pst-color-versionmodified-added: var(--pst-color-success);
  --pst-color-versionmodified-changed: var(--pst-color-warning);
  --pst-color-versionmodified-deprecated: var(--pst-color-danger);

  --pst-icon-versionmodified-default: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-added: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-changed: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-deprecated: var(--pst-icon-exclamation-circle);
}

.versionadded,
.versionchanged,
.deprecated {
  margin: 0.5em auto;
  padding: 0 0.6rem 0 0.6rem;
  overflow: hidden;
  page-break-inside: avoid;
  border-left: 0.2rem solid;
  border-color: rgba(var(--pst-color-versionmodified-default), 1);
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05),
    0 0 0.0625rem rgba(0, 0, 0, 0.1);
  transition: color 250ms, background-color 250ms, border-color 250ms;
  background-color: rgba(var(--pst-color-versionmodified-default), 0.1);
}

div.versionchanged > p {
  margin-bottom: 5px;
  margin-top: 5px;
}

div.versionchanged > ul.simple {
  margin-bottom: 5px;
  margin-top: 5px;
}

div.versionadded > p {
  margin-bottom: 5px;
  margin-top: 5px;
}

div.versionadded > ul.simple {
  margin-bottom: 5px;
  margin-top: 5px;
}

div.deprecated > p {
  margin-bottom: 5px;
  margin-top: 5px;
}

div.deprecated > ul.simple {
  margin-bottom: 5px;
  margin-top: 5px;
}

.versionadded {
  background-color: rgba(var(--pst-color-versionmodified-added), 0.1);
  border-color: rgba(var(--pst-color-versionmodified-added), 1);
}

.versionmodified.added {
  font-style: normal;
  font-weight: 700;
}

.versionmodified.added::before {
  font-family: "FontAwesome";
  margin-right: 0.6rem;
  content: var(--pst-icon-versionmodified-added);
  color: rgba(var(--pst-color-versionmodified-added), 1);
}

.versionchanged {
  background-color: rgba(var(--pst-color-versionmodified-changed), 0.1);
  border-color: rgba(var(--pst-color-versionmodified-changed), 1);
}

.versionmodified.changed {
  font-style: normal;
  font-weight: 700;
}

.versionmodified.changed::before {
  font-family: "FontAwesome";
  margin-right: 0.6rem;
  content: var(--pst-icon-versionmodified-changed);
  color: rgba(var(--pst-color-versionmodified-changed), 1);
}
